/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap');

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FIRST SECTION HERO */

.first-section {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.first-section .first-column {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e7dfd8;
}

.first-section .first-column img {  
    margin: 50px 80px;
}

.first-section .first-column .title {  
    margin: 80px 80px 50px;   
    font-size: 76px;
    line-height: 80px;
}

.first-section .first-column .subtitle {  
    margin-left: 80px;
    margin-bottom: 100px;
    font-size: 36px;
    font-weight: 300;
}

.first-section .first-column .subtitle strong {  
    font-weight: 600;
}

.first-section .first-column a {  
    margin-left: 80px;
    margin-bottom: 80px;
    width: fit-content;
    padding: 10px 40px 12px;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer; 
    transition-duration: 0.2s;   
}

.first-section .first-column a:hover {
    background-color: black;
    color: #e7dfd8;
} 


.first-section .second-column {
    width: 50%;
    height: 100vh;
    background-image: url('./img/hero_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

@media screen and (max-width: 1800px) {
    .first-section .first-column .title {  
        font-size: 60px;
    }
}
@media screen and (max-width: 1500px) {
    .first-section .first-column .title {  
        font-size: 48px;
        line-height: 58px;
    }
}
@media screen and (max-width: 768px) {
    .first-section .first-column {
        width: 100%;
    }
    .first-section .second-column {
        display: none;
    }
}


/* SECOND SECTION WHO WE ARE */

.second-section {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.second-section .container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 60%;
    height: 100%;
}

.second-section img {
    margin-bottom: 30px;
}

.second-section h2 {
    font-size: 84px;
    margin-bottom: 50px;
}

.second-section p {
    font-size: 22px;
    text-align: center;
    line-height: 30px;
}

.second-section p strong {
    font-weight: 600;
}

@media screen and (max-width: 1300px) {
    .second-section .container {
        width: 80%;
    }
}
@media screen and (max-width: 950px) {
    .second-section .container {
        width: 80%;
    }
    .second-section h2 {
        font-size: 60px;
    }
}

/* THIRD SECTION WHO WE ARE */

.third-section {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color: #e7dfd8;
}

.third-section h2 {
    font-size: 84px;
    text-align: center;
}

.third-section .card-container {
    justify-self: center;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    margin: 150px 80px 0;
}

.third-section .card-container .card {
    width: 30%;
    height: 400px;
    padding: 110px 20px 20px;
    margin: 0 20px;
    background-color: white;
    position: relative;
}


.third-section .card-container .card .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 50%;
    padding: 40px;
    color: white;
}

.third-section .card-container .card .logo img {
    filter: brightness(0) invert(1);
}

.third-section .card-container .card h3 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.third-section .card-container .card ul {
    margin: 20px;
}
.third-section .card-container .card ul li {
    font-size: 22px;
    margin-bottom: 8px;
}

@media screen and (max-width: 1500px) {
    .third-section .card-container {
        margin: 150px 20px 0;
    }
}
@media screen and (max-width: 1400px) {
    .third-section .card-container {
        margin: 110px 20px 0;
    }
    .third-section .card-container .card {
        height: 450px;
    }
}
@media screen and (max-width: 1200px) {
    .third-section {
        height: auto;
    }
    .third-section .card-container {
        flex-direction: column;
    }
    .third-section .card-container .card {
        width: 60%;
        height: auto;
        margin-bottom: 110px;
    }
    .third-section h2 {
        margin-top: 50px;
    }
}
@media screen and (max-width: 950px) {
    .third-section h2 {
        font-size: 60px;
    }
    .third-section .card-container .card {
        width: 80%;
        height: auto;
        margin-bottom: 110px;
    }
}

/* FOURTH SECTION WHO WE ARE */

.fourth-section {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.fourth-section .first-column {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section .first-column h2 {
    margin: 80px 80px 0;
    font-size: 84px;
}

.fourth-section .first-column h3 {
    margin: 0 80px 50px;
    font-size: 32px;
    font-weight: 300;
}

.fourth-section .first-column .content {
    margin: 0 80px;
    font-size: 22px;
    line-height: 26px;
}

.fourth-section .first-column .content p{
    margin-bottom: 20px;
}
.fourth-section .first-column .content p strong{
    font-weight: 600;   
}

.fourth-section .second-column {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FIFTH SECTION CONTACT */

.fifth-section {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color: #e7dfd8;
}

.fifth-section .first-column {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-section .second-column {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-section .second-column .container{
    margin: 0 80px;
}

.fifth-section .second-column h2 {
    margin: 80px 0px;
    font-size: 84px;
}

.fifth-section .second-column .content {
    margin: 80px 0px;
}

.fifth-section .second-column .content h4 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.fifth-section .second-column .content p {
    font-size: 20px;
    line-height: 26px;
}

.fifth-section .second-column .content a {
    font-size: 20px;
    color: #000;
    line-height: 26px;
}

/* FOOTER */

footer .container {
    height: 50px;
    width: 100%;
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}