/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FIRST SECTION HERO */

.first-section {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.first-section .first-column {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e7dfd8;
}

.first-section .first-column img {  
    margin: 50px 80px;
}

.first-section .first-column .title {  
    margin: 80px 80px 50px;   
    font-size: 76px;
    line-height: 80px;
}

.first-section .first-column .subtitle {  
    margin-left: 80px;
    margin-bottom: 100px;
    font-size: 36px;
    font-weight: 300;
}

.first-section .first-column .subtitle strong {  
    font-weight: 600;
}

.first-section .first-column button {  
    margin-left: 80px;
    margin-bottom: 80px;
    width: fit-content;
    padding: 10px 40px;
    font-size: 22px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer; 
    transition-duration: 0.2s;   
}

.first-section .first-column button:hover {
    background-color: black;
    color: #e7dfd8;
} 


.first-section .second-column {
    width: 50%;
    height: 100vh;
    background-image: url('./img/hero_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}


/* SECOND SECTION WHO WE ARE */

.second-section {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.second-section .container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 60%;
    height: 100%;
}

.second-section img {
    margin-bottom: 30px;
}

.second-section h2 {
    font-size: 84px;
    margin-bottom: 50px;
}

.second-section p {
    font-size: 22px;
    text-align: center;
    line-height: 30px;
}

.second-section p strong {
    font-weight: 600;
}

/* THIRD SECTION WHO WE ARE */

.third-section {
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color: #e7dfd8;
}

.third-section h2 {
    font-size: 84px;
    text-align: center;
}

.third-section .card-container {
    justify-self: center;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    margin: 150px 80px 0;
}

.third-section .card-container .card {
    width: 30%;
    height: 400px;
    padding: 110px 20px 20px;
    margin: 0 20px;
    background-color: white;
    position: relative;
}


.third-section .card-container .card .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 50%;
    padding: 40px;
    color: white;
}

.third-section .card-container .card .logo img {
    filter: brightness(0) invert(1);
}

.third-section .card-container .card h3 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.third-section .card-container .card ul {
    margin: 20px;
}
.third-section .card-container .card ul li {
    font-size: 22px;
    margin-bottom: 8px;
}